
a {
    all: unset;
}
ul {  
    list-style-type: none;  
    }  
.header{
    font-family: 'Roboto', sans-serif;
    display:flex;
    justify-content: center;   
    background-color:#1F2937;
    flex-wrap: wrap;
    
}
.links{
    width:30%;
    display:flex;
    font-size:18px;
    color:#e5e7eb;
    

}
.logo{
    display:flex;
    width:30%;
    color:#F9FAF8;   
    font-weight:bold;
    font-size:24px;
    
}
.info{
    width:50%;
    
}
.image{
    width: 50%;
    
}
.left{
    display:flex;
    flex-direction: column;
    background-color:#1F2937 ;
    font-size:18px;
    color:#e5e7eb;
    border:solid 2px red;
}
button.sign-up{
    background: royalblue;
    align-self: flex-start;
    color: white;
    border-radius: 8px;
    width: 80px;
    height:30px; 
    font-weight: 700;
}
.body{
    font-family: 'Roboto', sans-serif;
    display:flex;
    justify-content: center;   
    flex-wrap: wrap;
}
.container2{
    display:flex;
    border:solid 2px red;
}
