
a {
    all: unset;
}
ul {  
    list-style-type: none;  
    }  
.header{
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    display:flex;   
    background-color:#1F2937;
    flex-wrap: wrap;
    border:solid 2px red;

    
}
.links{
    display:flex;
    gap:16px;
    font-size:18px;
    color:#e5e7eb;
    border:solid 2px red;
}
.logo{
    justify-content: center;
    align-items: center;
    display:flex;
    color:#F9FAF8;   
    font-weight:bold;
    font-size:24px;
    border:solid 2px red;
}
.info{
    width:50%;
    
}
.info2{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
.image{
    width: 50%;
    
}
.left{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    background-color:#1F2937 ;
    font-size:18px;
    color:#e5e7eb;
    border:solid 2px red;
}
button.sign-up{
    background: royalblue;

    color: white;
    border-radius: 8px;
    width: 80px;
    height:30px; 
    font-weight: 700;
}
.body{
    font-family: 'Roboto', sans-serif;
    display:flex;
}
.container2{
    display:flex;
    border:solid 2px red;
}
