
a {
    all: unset;
}
ul {  
    list-style-type: none;  
    }  
.header{
    display:flex;    
    align-items: center;
    background-color:#1F2937;
    border:solid 2px red;

}
.links{
    display:flex;  
    gap:16px;
    font-size:18px;
    color:#e5e7eb;
    justify-content: center;
    border:solid 2px red;
    box-sizing: border-box;
    width:50%;
    height:100px;
}
.logo{
    justify-content: flex-start;
    flex-basis:auto;    
    padding-left:100px;
    display:flex;
    color:#F9FAF8;   
    font-weight:bold;
    font-size:24px;
    border:solid 2px red;
    box-sizing: border-box;
    width:50%;
    height: 100px;
}
.info{
    font-size: 48px;
    font-weight:bolder;
    color:#F9FAF8;   
}
.info2{
    display:flex;
    flex-wrap: wrap;
    width:400px;
    
}
.image{
    display:flex;
    height:200px;
    flex-basis:auto;
    box-sizing: border-box;
    width:100%;
    padding-right:100px;
    border:solid 2px red;
    
}
.left{
    display:flex;
    flex-direction: column;
    padding-left:100px;
    gap:6px;
    background-color:#1F2937 ;
    color:#e5e7eb;
    border:solid 2px red;
    box-sizing: border-box;
    width:100%; 
}
button.sign-up{
    background: royalblue;
    color: white;
    border-radius: 8px;
    width: 80px;
    height:30px; 
    font-weight: 700;
}
body{
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
}
.container2{
    display:flex;
    background-color:#1F2937;
    flex:1;
    border:solid 2px red;
}
.container3{
    display:flex;
}